@{
    ViewData["Title"] = "Success";
}

@model Mission4.Models.MovieResponse

<div class="text-center">
    <h1 class="display-4">@Model.Title has been added to the library. Thank you. </h1><br />

</div>

